/* FONTS PARA TÍTULOS */
@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Roboto+Slab&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@1,300&family=Pacifico&family=Roboto+Slab&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,400;1,300&family=Pacifico&family=Roboto+Slab&display=swap');

/* FONT PARA TEXTO */

@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Merriweather:ital,wght@0,400;1,300&family=Montserrat:wght@200&family=Pacifico&family=Roboto+Slab&display=swap');




/* PALETA DE COLORES
#250902 DARK SIENA
#38040E DARK SIENA
#640D14 ROSEWOOD
#800E13 UP MARRON
#AD2831 UPSDELL RED
*/

* {
    margin: 0;
    padding: 0;

}

body {
    background-image: url(../recursos/Imagenes/background\ image.jpg);
    background-repeat: repeat;
    background-size: 50vw;
}

.img-logo {
    width: 150px;
    align-items: center;
}

.menu {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.menu a {
    color: #e7e2e3;
    text-decoration: none;
    font-family: 'Pacifico', cursive;
    font-family: 'Roboto Slab', serif;
    font-size: 15px;

}

.menu__inicio ul {
    background-color: #800E13;
    display: flex;
    list-style: none;
    justify-content: space-around;
    width: 100vw;
    height: 7vh;
    align-items: center;
}



/* .slogan {
    font-family: 'Pacifico', cursive;
    font-family: 'Roboto Slab', serif;
    display: inline;
    text-align: center;
    align-items: center;
    margin-bottom: 30px;
    padding-bottom: 10px;
    color: #800E13;
    font-size: 25px;
} */

h2 {
    font-family: 'Pacifico', cursive;
    font-family: 'Roboto Slab', serif;
    width: 95vw;
    text-align: center;
    align-items: center;
    color: #800E13;
    font-size: 20px;
    padding: 1rem;


}

.atributos {
    display: grid;
    opacity: .7;
    /* object-fit: cover;
    align-items: center; */
    grid-template-columns: repeat(2, 1fr)
        /* grid-template-rows: repeat(3, 1fr); */
        /* justify-content: center;
    align-content: center;
    text-align: center;
    margin: auto; */
}

h3 {
    text-align: center;
    align-items: center;
}

.atributos__1 {
    /* display: flex; */
    justify-content: center;
    align-items: center;
    background-image: url(../recursos/Imagenes/DSC_0570.jpg);
    width: 50vw;
    height: 33vh;
    font-family: 'Merriweather', serif;
    font-family: 'Pacifico', cursive;
    font-family: 'Roboto Slab', serif;
    font-size: 20px;
    color: white;
    background-size: cover;
    /* background-repeat: no-repeat; */
    text-align: center;
    align-content: flex-end;
    padding: 0;

}

.atributos__2 {
    /* display: flex; */
    color: transparent;
    font-size: 35px;
    width: 50vw;
    height: 33vh;
    background-image: url(../recursos/Imagenes/ok.jpg);
    background-size: cover;
    /* background-repeat: no-repeat; */
    padding: 0;
}

.atributos__3 {
    /* display: flex; */
    justify-content: center;
    align-items: center;
    background-image: url(../recursos/Imagenes/DSC_0627.jpg);
    width: 50vw;
    height: 33vh;
    font-family: 'Merriweather', serif;
    font-family: 'Pacifico', cursive;
    font-family: 'Roboto Slab', serif;
    font-size: 20px;
    color: white;
    background-size: cover;
    /* background-repeat: no-repeat; */
    text-align: center;
    align-content: flex-end;
    padding: 0;

}

.atributos__4 {
    /* display: flex; */
    color: transparent;
    font-size: 35px;
    width: 50vw;
    height: 33vh;
    background-image: url(../recursos/Imagenes/viñedos.jpg);
    background-size: cover;
    /* background-repeat: no-repeat; */
    padding-right: 0;


}


.atributos__5 {
    /* display: flex; */
    justify-content: center;
    align-items: center;
    background-image: url(../recursos/Imagenes/DSC_0677.jpg);
    width: 50vw;
    height: 33vh;
    font-family: 'Merriweather', serif;
    font-family: 'Pacifico', cursive;
    font-family: 'Roboto Slab', serif;
    font-size: 20px;
    color: whitesmoke;
    background-size: cover;
    /* background-repeat: no-repeat; */
    text-align: center;
    align-content: flex-end;
}

.atributos__6 {
    /* display: flex; */
    color: transparent;
    width: 50vw;
    height: 33vh;
    font-size: 35px;
    background-image: url(../recursos/Imagenes/porton.jpg);
    background-size: cover;
    /* background-repeat: no-repeat; */
}

.invitacion {
    font-family: 'Pacifico', cursive;
    font-family: 'Roboto Slab', serif;
    color: rgb(168, 29, 29);
    display: flex;
    display: block;
    text-align: center;
    font-size: 20px;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}

.invitacion__opciones {
    font-size: 15px;


}

/* TRANSFORMACIÓN Y ANIMACIONES  */
.invitación:hover {
    transform: scale(1.3);
}

.invitacion {
    animation-name: entrada-salida;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-delay: 8s;
}

@keyframes entrada-salida {}

/* FOOTER */
.footer-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.footer__título {
    font-family: 'Merriweather', serif;
    font-family: 'Pacifico', cursive;
    font-family: 'Roboto Slab', serif;
    font-size: 15px;
    display: inline-flexbox;
    display: grid;
    grid-template-columns: 1fr 1fr;
    color: #800E13;

}

.footer__texto {
    font-size: 13.5px;
}

/* PÁGINA DE GALERIA */

h1 {
    font-family: 'Pacifico', cursive;
    font-family: 'Roboto Slab', serif;
}

.galeria img {
    width: 45vw;
}

.galeria {
    width: 45vw;
    text-align: center;

}

.galeria P {
    font-size: 12px;
    font-family: 'Lato', sans-serif;
    font-family: 'Merriweather', serif;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Pacifico', cursive;
    font-family: 'Roboto Slab', serif;
    padding-bottom: 1rem;

}


section {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

@media (min-width: 768px) {
    .menu {
        flex-direction: row;
    }

    .img-logo {
        width: 250px;
    }
    .menu a {
        color: #e7e2e3;
        text-decoration: none;
        font-family: 'Pacifico', cursive;
        font-family: 'Roboto Slab', serif;
        font-size: 20px;
    
    }

    .menu__inicio ul {
        height: 196.58px;
        font-family: 'Pacifico', cursive;
        font-family: 'Roboto Slab', serif;
        font-size: 20px;
    }
    .menu a:hover{
        font-size: 23px;

    }
    .menu__inicio:hover{
        scale: 1.3;
    }
    .atributos {
        display: grid;
        grid-template-columns: repeat(3, 1fr)


}